.main-div {
  height: 100vh;
  width: 100%;
  background-image: url(../image/bgimg.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.donor-form {
  background: rgba(0, 0, 0, 0.623);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 450px;
  width: 450px;
  justify-content: center;
  align-items: center;
}
.donor-select {
  width: 60px;
  height: 25px;
  margin-top: 20px;
  border-radius: 6px;
  margin-right: 8px;
}
.donor-input {
  display: flex;
  width: 400px;
  margin-top: 20px;
  border-radius: 8px;
}
.donor-label {
  margin-top: 20px;
  color: #fff;
  margin-right: 8px;
}
