.navmenu{
    position: fixed;
    width: 100%;
    z-index: 1;
    /* display: flex; */
    /* color: rgb(179, 255, 0); */
    /* text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500; */
}
.nav-link{
   border-radius: 10px;
   /* box-shadow: 5px 5px 10px rgba(0,0,0,.5); */
   box-shadow: 7px 7px 14px rgba(216, 64, 110, 0.5); 
}
.link{
    line-height: 40px;
    width: 100px;
    color: #fff;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-align: center;
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
}
.link:hover ,#active{
    /* color: rgb(9,175,134); */
    /* color: aqua; */
    color: rgb(255, 104, 104);
}
