.user-profile{
 padding-top: 70px;
 /* background-color: wheat; */
 background-color: #202531;
 height: 100vh;
 justify-content: center;
 align-items: center;
 display: flex;
 flex-direction: column;
 font-weight:bolder;
}
.profile-h5{
 justify-content: center;
 align-items: center;
 color: white;
}

.profile-card{
  height: 190px;
  width: -90px;
  background-color:#202531;
  border-radius: 50px;
 }

 .profile-main{
  background-color: rgb(255, 71, 71);
 }

/* From Uiverse.io by vinodjangid07 */ 
.button-logout {
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    cursor: pointer;
    /* border: 3px solid rgb(255, 239, 94);
    background-color: rgb(255, 239, 94); */
    border: 3px solid  rgb(240, 93, 93);
    background-color:red;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
    margin-top: 20px;
  }
  
  .text {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    color: white;
  }
  
  .arrow path {
    fill: rgb(19, 19, 19);
  }
  
  .button-logout:hover .arrow {
    animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-8px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
  .button-logout:active {
    transform: scale(0.97);
  }